.input-container {
  width: 100%;

  input[type="checkbox"], input[type="radio"] {
    opacity: 0;
  }

  &.text, &.password {
    label {
      float: left;
      margin: 5px 0 0;
      font-size: 13px;
    }
    input {
      margin: 0 10px;
      padding: 5px 10px;
      outline: none;
    }

    &.valid {
      input {
        border: 1px solid #dddcdc;

        &:hover, &:focus {
          border: 1px solid #000;
        }
      }
    }

    &.invalid {
      input {
        border: 1px solid #e0adad;
      }
    }
  }

  &.checkbox, &.radio {
    label {
      position: relative;

      &::before {
        content:'';
        position: absolute;
        right: -20px;
        top: 1px;
        width: 15px;
        height: 15px;
        border: 1px solid #191818;
        border-radius: 5px;
        cursor: pointer;
      }
    }

    input:checked ~ label {
      &::before {
        background-color: #191818;
      }
      &::after {
        content:'';
        position: absolute;
        right: -14px;
        top: 2px;
        width: 4px;
        height: 8px;
        border-right: 2px solid #fff;
        border-bottom: 2px solid #fff;
        transform: rotate(35deg);
        cursor: pointer;
      }
    }
  }

  &.radio {
    label {
      margin: 3px 0 0;
      &::before {
        border-radius: 10px;
      }
    }

    input:checked ~ label {
      &::after {
        content:'';
        position: absolute;
        right: -17px;
        top: 4px;
        width: 7px;
        height: 7px;
        border: 2px solid #fff;
        border-radius: 10px;
      }
    }
  }


}